// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
.post-comment {
    margin: 10px 0 0 0;
    border: 1px solid #ccc;
    padding: 5px;
}
